* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  background-color: yellow;
  height: 100px;
  position: relative;
  z-index: 10000000000000000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

header .sticky {
  position: fixed;
  height: 100px;
  background-color: yellow;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_links {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
}

.nav_link {
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}

/* SECTIONS */
.section {
  padding: 15rem 3rem;
  border-top: 2px solid #000;
  transition: transform 1s, opacity 1s;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

#section-home {
  height: calc(100vh - 100px);
  padding: 0;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

.presentation-container {
  display: flex;
  height: 80%;
}

.home-presentation {
  background-color: red;
  /* padding: 4rem 4rem 2rem 2rem; */
  width: 50%;
  display: flex;
  padding-left: 4rem;
}

.home-presentation-infos {
  background-color: crimson;
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
}

.home-presentation-name {
  font-size: 4rem;
}

.home-presentation-job {
  font-size: 2rem;
}

.home-presentation-photo {
  width: 300px;
  height: 300px;
  position: relative;
  transform: translate(0%, 100%);
}

.home-language {
  background-color: bisque;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: relative;
}

.home-language-skills-logo {
  width: 200px;
  height: 200px;
}

.js_logo {
  position: absolute;
  top: 10%;
  left: 10%;
}

.nodejs_logo {
  height: 125px;
  position: absolute;
  top: 20%;
  right: 10%;
}

.reactjs_logo {
  position: absolute;
  bottom: 5%;
  left: 40%;
}

.button-contianer {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

#section-projects {
  padding-top: 7rem;
}
/* SLIDER */
.slider {
  background-color: rgb(75, 50, 50);
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

/* .slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.slider_btn {
  position: absolute;
  top: 50%;
  z-index: 1000000000;

  border: none;
  cursor: pointer;
}

.slider_btn-left {
  left: 0;
  transform: translate(0%, -50%);
}

.slider_btn-right {
  right: 0;
  transform: translate(0%, -50%);
}

/* PROJECTS */
.project {
  width: 65%;
  position: relative;
}

.project::before {
  content: "";
  position: absolute;
  top: -5.7rem;
  left: -6.8rem;
  line-height: 1;
  z-index: -1;
  background-color: yellow;
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots_dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots_dot:last-child {
  margin: 0;
}

.dots_dots-active {
  background-color: #888;
  opacity: 1;
}

/* FORM */
.form-container {
  max-width: 30%;
}

#section-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-form {
  display: flex;
  flex-direction: column;
  max-width: min-content;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
